.pricing {
	padding: 2.5rem 2rem;
	background-image: linear-gradient(
			rgba(89, 98, 104, 0.7),
			rgba(36, 42, 46, 0.8)
		),
		url("./pp2Bg.jpg");
	background-size: cover;
	background-position: center;
}

.product {
	padding: 2.5rem 2rem;
	background-image: linear-gradient(
			rgba(89, 98, 104, 0.7),
			rgba(36, 42, 46, 0.8)
		),
		url("./ppBg.jpg");
	background-size: cover;
	background-position: center;
}

@media (max-width: 500px) {
	.product,
	.pricing {
		padding: 2rem 1.7rem;
	}
}

@media (max-height: 700px) {
	.pricing,
	.product {
		height: auto;
	}
}
@media (min-height: 700px) {
	.pricing,
	.product {
		height: 100dvh;
	}
}

@media (min-width: 1024px) {
	.product,
	.pricing {
		padding: 2.5rem 5rem;
	}
}
