.menu {
	/* padding: 2.5rem 2rem; */
	right: 2rem;
	left: 2rem;
}

@media (max-width: 500px) {
	.menu {
		/* padding: 2rem 1.7rem; */
		top: 12rem;
		right: 1.7rem;
		left: 1.7rem;
	}
}

@media (min-width: 1024px) {
	.menu {
		/* padding: 2.5rem 5rem; */
		right: 5rem;
		left: 5rem;
	}
}
