.form {
	background-color: var(--color-dark--2);
	border-radius: 7px;
	padding: 2rem 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.flag {
	position: absolute;
	right: 1rem;
	top: 2.7rem;
	font-size: 2.8rem;
}

.form.loading {
	opacity: 0.3;
}

.form.loading button {
	pointer-events: none;
	background-color: var(--color-light--1);
	border: 1px solid var(--color-light--1);
	color: var(--color-dark--0);
}

:global(.react-datepicker) {
	font-family: inherit;
	font-size: 1.2rem;
}

.btn {
	color: inherit;
	text-transform: uppercase;
	padding: 0.8rem 1.6rem;
	font-family: inherit;
	font-size: 1.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.primary {
	font-weight: 700;
	background-color: var(--color-brand--2);
	color: var(--color-dark--1);
}

.back {
	font-weight: 600;
	background: none;
	border: 1px solid currentColor;
}

.position {
	font-weight: 700;
	position: absolute;
	z-index: 1000;
	font-size: 1.4rem;
	bottom: 4rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-brand--2);
	color: var(--color-dark--1);
	box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
