.user {
	position: absolute;
	top: 4.2rem;
	right: 4.2rem;
	padding: 1rem 1.4rem;
	border-radius: 7px;
	z-index: 999;
	box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
	font-size: 1.6rem;
	font-weight: 600;

	display: flex;
	align-items: center;
	gap: 1.6rem;
}

@media (max-width: 1024px) {
	.user {
		bottom: 4.2rem;
		right: 1rem;
		top: unset;
	}
}

.user img {
	border-radius: 100px;
	height: 4rem;
}

.user button {
	background-color: var(--color-dark--2);
	border-radius: 7px;
	border: none;
	padding: 0.6rem 1.2rem;
	color: inherit;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
